<style>
  p {
    margin: 3px 0;
    font-size: 13px;
    color: blue;
  }
  h4 {
    margin: 8px 0;
    font-size: 18px;
  }
</style>

{{> popupMessage}}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        {{> sliderHome}}
    </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-12 col-ms-12">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center;background-color:#609af7;color:white;font-size:3em;">
        <h1 class="panel-title" style="font-size:0.7em;">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          TOP 5 POPULAR AUCTIONS
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </h1>
      </div>
      <div class="panel-body">
        {{#each mostauctionbid}}
          <div class="col-sm-12" style="width:20%;margin:0px;padding:0px;">
            <span class="thumbnail" >
              <a href="/item/{{this.proid}}">
              <div class="img-container" style="position:relative;">
                <img src="{{this.image1}}" alt="..." class="img-responsive" style="width:350px; height:280px;position:relative;" title="{{this.tinydes}}">
                {{#if this.isNew}}
                  <img style="position:absolute;right:-4px;top:-5px;width:100px;" src="/img/label-product-new.png">
                {{/if}}
              </div>
              <div style="padding: 0 5%;">
                <h4 class="text-danger" title="{{this.proname}}">{{{trimString this.proname}}}</h4>
                </a>
                <p>
                  {{this.soluotdaugia}} bids | {{this.priceAuction}}$ 
                  <br>
                  <span title="{{this.userBid}}">({{trimString this.userBid}})
                </p>
                <p class="DateEnd">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                  {{{CheckDeadline this.sogiay}}}
                </p>
                <input class="idText" type="hidden" name="id" value="{{this.proid}}">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <a href="/item/{{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow">BID NOW</button></a>
                  </div>
                </div>
              </div>
            </span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-12 col-ms-12">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center;background-color:#fff600;color:#5b5b5b;font-size:3em;">
        <h1 class="panel-title" style="font-size:0.7em;">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          TOP 5 VALUABLE AUCTIONS
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        </h1>
      </div>
      <div class="panel-body">
        {{#each bestprice}}
          <div class="col-sm-12" style="width:20%;margin:0px;padding:0px;">
            <span class="thumbnail" >
              <a href="/item/{{this.proid}}">
              <div class="img-container" style="position:relative;">
                <img src="{{this.image1}}" alt="..." class="img-responsive" style="width:350px; height:280px;position:relative;" title="{{this.tinydes}}">
                {{#if this.isNew}}
                  <img style="position:absolute;right:-4px;top:-5px;width:100px;" src="/img/label-product-new.png">
                {{/if}}
              </div>
              <div style="padding: 0 5%;position:relative">
                <h4 class="text-danger" title="{{this.proname}}">{{{trimString this.proname}}}</h4>
                </a>
                <p>
                  {{this.soluotdaugia}} bids | {{this.priceAuction}}$ 
                  <br>
                  <span title="{{this.userBid}}">({{trimString this.userBid}})
                </p>
                <p class="DateEnd">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                  {{{CheckDeadline this.sogiay}}}
                </p>
                <input class="idText" type="hidden" name="id" value="{{this.proid}}">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <a href="/item/{{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow">BID NOW</button></a>
                  </div>
                </div>
              </div>
            </span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-12 col-ms-12">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align:center;background-color:#ff3f3f;color:white;font-size:3em;">
        <h1 class="panel-title" style="font-size:0.7em;">
          <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
          TOP 5 EARLY TO END AUCTIONS
          <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        </h1>
      </div>
      <div class="panel-body">
        {{#each cometoend}}
          <div class="col-sm-12" style="width:20%;margin:0px;padding:0px;">
            <span class="thumbnail" >
              <a href="/item/{{this.proid}}">
              <div class="img-container" style="position:relative;">
                <img src="{{this.image1}}" alt="..." class="img-responsive" style="width:350px; height:280px;position:relative;" title="{{this.tinydes}}">
                {{#if this.isNew}}
                  <img style="position:absolute;right:-4px;top:-5px;width:100px;" src="/img/label-product-new.png">
                {{/if}}
              </div>
              <div style="padding: 0 5%;">
                <h4 class="text-danger" title="{{this.proname}}">{{{trimString this.proname}}}</h4>
                </a>
                <p>
                  {{this.soluotdaugia}} bids | {{this.priceAuction}}$ 
                  <br>
                  <span title="{{this.userBid}}">({{trimString this.userBid}})
                </p>
                <p class="DateEnd">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                  {{{CheckDeadline this.sogiay}}}
                </p>
                <input class="idText" type="hidden" name="id" value="{{this.proid}}">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <a href="/item/{{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow">BID NOW</button></a>
                  </div>
                </div>
              </div>
            </span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div id="getting-started"></div>
<div id="getting-started1"></div>

<script src="/js/PopupMessageClick.js"></script>
<script src="/component/jquery.countdown/dist/jquery.countdown.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // ajax xử lý button add to watchlist
        $('.fdi-Carousel .item:first-child').addClass("active");

        $('#myCarousel').carousel({
            //interval: 10000
        });

        $('.fdi-Carousel .item').each(function() {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length > 0) {
                next.next().children(':first-child').clone().appendTo($(this));
            } else {
                $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
        });

        $('[data-countdown]').each(function() {
          var $this = $(this),
              finalDate = $(this).data('countdown');
          $this.countdown(finalDate, function(event) {
            $this.html(event.strftime('%w weeks %D days %H:%M:%S'));
          });
        });
    });
</script>
